In [1]:
#variable

a = 10 #interger
b = 3.14 #float desimal
c = "A" #string
d = "Aziza"
e = "Software Engineer"
f = 'A'
g = 'Aziza'
h = 'Software Engineer'
i = True #Boolean
j = False #Boolean
k = [] #List
l = [1,2,3] #List
m = {} # Dictionary
n = () # Tuple

In [2]:
print(c)

A

In [3]:
print(2+2*7)

16

In [4]:
nama = "Aziza"
rumah = "indo"
umur = 10

In [5]:
nama = input()

aziza

In [6]:
#concatination
print("Hai nama ku adalah " +nama) 
print("Hai nama ku adalah {}".format(nama))
print("Hai nama ku adalah {}".format("Aziza"))

Hai nama ku adalah aziza
Hai nama ku adalah aziza
Hai nama ku adalah Aziza

In [10]:
print("Hai namaku adalah " + nama +", umurku " + str(umur) +", rumahku di " + rumah)
print("Hai namaku adalah {}, umurku {}, rumahku di {}".format(nama,umur,rumah))

Hai namaku adalah aziza, umurku 10, rumahku di indo
Hai namaku adalah aziza, umurku 10, rumahku di indo

In [11]:
nama = input()

Awalya

In [20]:
print("Hai, namaku adalah " + nama + ", umurku " + str(umur))
print("Hai, namaku adalah ", nama ,", umurku ", umur)
print("Hai, namaku adalah {}, umurku {}, saya berasal dari {}".format(nama, umur, rumah))
print("nama {}, umur {}".format(nama,umur))

Hai, namaku adalah Awalya, umurku 10
Hai, namaku adalah  Awalya , umurku  10
Hai, namaku adalah Awalya, umurku 10, saya berasal dari indo
nama Awalya, umur 10

In [16]:
import math
a = 10
b = 10
# if else

## Conditional Statement

a == b # Jika nilai a sama dengan b
a != b # Jika nilai a tidak sama dengan b
a < b
a <= b
a > b
a >= b
True and True 
False or False

## Operator
a + b
a - b
a * b
a / b # 10 / 10 = 1.0 --> Float Division
a // b # 10 // 10 = 1 --> Integer Division
a ** b # 10^10 = 100
a % b # Modulus
a ** (1/2) # akar variable a, dimana a = 10
math.sqrt(a) # akar variabel a
math.sin(a)
math.tan(a)
math.cos(a)
math.tanh(a)
math.sinh(a)
math.cosh(a)
math.log(a)

2.302585092994046

In [17]:
if a == 10:
 print("a sama dengan 10")
elif a > 10:
  print("a lebih dari 10")
else:
  print("a kurang dari 10")
print("ini diluar if")

a sama dengan 10
ini diluar if